  {% extends "SLAMGSBBundle::layout.html.twig" %}
  {% block menu %}
    <div id="menuGauche">
     <div id="infosUtil">
       <h3>
          {%if(app.session.get('nom') is defined ) %}
              Visiteur: bonjour {{app.session.get('nom')}}<br/>
              Rôle: {{app.session.get('libelleRole')}}<br/>
          {%endif%}
       </h3>
      </div>  
        <ul id="menuList">
           <li class="smenu">
              <a href="{{path('slamgsb_vehicule')}}" title="Véhicules utilisés">Véhicules Utilisés</a>
           </li>
           <li class="smenu">
              <a href="{{path('slamgsb_affecter')}}" title="Affecter un véhicule">Affecter un véhicule</a>
           </li>
           <li class="smenu">
              <a href="{{path('slamgsb_saisirfrais')}}" title="Saisie fiche de frais ">Saisie fiche de frais</a>
           </li>
           <li class="smenu">
              <a href="{{path('slamgsb_listefrais')}}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
           </li>
 	   <li class="smenu">
              <a href="{{path('slamgsb_deconnexion')}}" title="Se déconnecter">Déconnexion</a>
           </li>
         </ul>
    </div>
{% endblock %}
